<script type="text/javascript" src="./js/main.js"></script>
<p><%= @user %>　Welocome </p>
<article>
<%= erb :'main/thread_form' %>
<%= erb :'main/thread_view' %>
</article>
<%= erb :'main/side_menu' %>