<form action="/create_thread" method="POST">
name:<input type="text" name="name" /><br>
title:<input type="text" name="title" /><br>
text:<input type="text" name="text" /><br>
<button type="submit">Post</button>
</form>
