<script type="text/javascript" src="./js/main.js"></script>
<form action="delete_account" method="POST">
<div><label>user_name :<input id="delete_user" type="text" name="login_user" required/></label></div>
<div><label>password :<input id="delete_user_password" type="text" name="login_password" required/></label></div>
<input type="button" value="delete_account" onClick="deleteAccount('<%= @current_login_user %>')" />
</form>