<form action=<%= @thread[:id] %> method="POST">
  名前：<input type="text" name="name" value=<%= @thread[:name] %>><br>
  タイトル：<input type="text" name="title" value=<%= @thread[:title] %>><br>
  本文：<input type="text" name="text" value=<%= @thread[:text] %>><br>
  <input type="submit" value="Post">
</form>