<form action="edit_account" method="POST">
<div><label>username：<input type="text" name="login_user" /></label></div>
<div><label>old password：<input type="text" name="old_login_password" /></label></div>
<div><label>new password：<input type="text" name="new_login_password" /></label></div>
<input type="submit" value="edit_account" />
</form>