<p>HOME</p>
<table>
  <% @threads.each do |thread| %>
  <tr>
    <td><%= thread[:name] %><td>
    <td><%= thread[:title] %></td>
    <td><%= thread[:text] %></td>
  </tr>
  <% end %>
</table>
<a href="/create_thread">create_thread