<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/main.css" media="screen">
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<title>HOME</title>
</head>
<body>
  <%= yield %>
</body>
</html>
